<!DOCTYPE html>
<html lang="es">

<head>
</head>

<body>

    <div>
        <h1>LOGIN</h1>
        <form action="" method="POST">
            <div>
                <label for="username">Usuario:</label>
                <input type="text" name="username">
            </div>

            <div>
                <label for="password">Contraseña:</label>
                <input type="text" name="password">
            </div>

            <div>
                <input type="submit" value="Login">
            </div>

        </form>

    </div>

    <script>
    </script>
</body>
</html>