<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleados</title>
    <link rel="stylesheet" href="../../static/styles/tablas.css">
</head>
<body>
    <div class="body">
        <h1>Listado de Empleados</h1>
        <div>
            <a href="{{ url_for('index') }}">Inicio</a>
            <a href="{{ url_for('agregarEmpleado') }}">Agregar</a>
        </br>
        </div>

        <div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Sueldo</th>
                        <th>Detalle</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for empleado in empleados %}
                    <tr>
                        <td>{{empleado.id}}</td>
                        <td>{{empleado.nombre}}</td>
                        <td>{{empleado.direccion}}</td>
                        <td>{{empleado.sueldo}}</td>
                        <td><a href="/empleados/{{empleado.id}}">Detalle</a></td>
                        <td><a href="/empleados/editar/{{empleado.id}}">Editar</a></td>
                        <td><a href="/empleados/eliminar/{{empleado.id}}">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
</body>