{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta chartset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <title>Bienvenido</title>
    </head>
    <body>
        <h1>Bienvenido al sistema</h1>
        <div>
            <a href="medicamento">Ver medicamentos</a>
            <br>
            <a href="medico">Ver medicos</a>
            <br>
            <a href="paciente">Ver pacientes</a>
        </div>
    </body>
</html>